.card {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: var(--font-sans);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.cityTemp {
  display: flex;
  flex-direction: column;
}

.city {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: #333;
}

.temperature {
  font-size: 54px;
  font-weight: 700;
  margin: 5px 0 0;
  color: black;
}

.iconContainer {
  width: 120px;
  height: 120px;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.details p {
  margin: 0;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
