/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/Header.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__xuTiO {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.Header_navList__L9tz_ {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Header_navItem__8jeVH {
  margin: 0 1rem;
}

.Header_navLink__encDI {
  color: #333;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.Header_navLink__encDI:hover {
  background-color: white;
  color: black;
}
/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_container__jZF7q {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.page_main__nw1Wk {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.page_title__po7na {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.page_description__lvaOp {
  font-size: 1.1rem;
  text-align: center;
  max-width: 600px;
  line-height: 1.6;
}

.page_icon__HtCf9{
    scale: 2;
}
